body {
            background: linear-gradient(to right, #f38bab, #764ba2);
            min-height: 100vh;
        }

        .gallery-card {
            border-radius: 10px;
            transition: transform 0.3s, box-shadow 0.3s;
            cursor: pointer;
            overflow: hidden;
        }

        .gallery-card:hover {
            transform: scale(1.05);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
        }

        img {
            height: 220px;
            object-fit: cover;
        }

        .heading {
            text-align: center;
            color: rgb(255, 255, 255);
            margin-bottom: 3.5rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 2.3rem;
        }